@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face { font-family: "et-book";
             src: url("chrome-extension://__MSG_@@extension_id__/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("chrome-extension://__MSG_@@extension_id__/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff");
             font-weight: normal;
             font-style: italic; }

@font-face { font-family: "et-book";
             src: url("chrome-extension://__MSG_@@extension_id__/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff");
             font-weight: bold;
             font-style: normal; }

@font-face { font-family: "et-book-roman-old-style";
             src: url("chrome-extension://__MSG_@@extension_id__/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff");
             font-weight: normal;
             font-style: normal; }

@-moz-document url-prefix() {
  @font-face { font-family: "et-book";
               src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff");
               font-weight: normal;
               font-style: normal; }

  @font-face { font-family: "et-book";
               src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff");
               font-weight: normal;
               font-style: italic; }

  @font-face { font-family: "et-book";
               src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff");
               font-weight: bold;
               font-style: normal; }

  @font-face { font-family: "et-book-roman-old-style";
               src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff");
               font-weight: normal;
               font-style: normal; }
}